<section id="comments-section">

    {% resource "comments_js/comments.js" %}

    {% macro comment_form(values={}, empty=False, hidden=True, prefix="", action="add") %}

    <!-- Modal -->
    <div id="{{values.id}}{{prefix}}myModal" class="modal hide" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form id="{{ prefix + values.id }}" class="form"
              action="{{ pkg_id }}/comments/{% if values.id %}{{ values.id }}/{% endif %}{{ action }}" method="POST">


            <div class="modal-header">
                {# <label for="subject">{{ _('Subject') }}</label>
                <input type="text" class="form-subject" placeholder="Subject..." name="subject" {% if not empty
                       %}value="{{ values.subject }}"
                       {% endif %}/>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <span class="form-help">(optional subject for your comment)</span> #}
            </div>
            <div class="modal-body">
                <!--<label for="comment">{{ _('Comment') }}</label>-->
                {% set unescaped_content = values.content.split('<br/>') %}
                <textarea name="comment" class="form-control" placeholder="Your comment..." rows="6">{% if not empty %}{% for line in unescaped_content %}{{ line | striptags }}{{'\n'}}{% endfor %}{% endif %}</textarea>
            </div>
            <div class="modal-footer">
                {% if c.userobj %}
                <div class="form-user">
                    Comments may be moderated.
                </div>
                {% endif %}
                <div class="form-actions">
                    <input type="submit" class="btn btn-small btn-default" value="{{ _('Post Comment') }}"/>
                    <button class="btn btn-small btn-danger" data-dismiss="modal" aria-hidden="true">X</button>

                </div>
            </div>
        </form>
    </div>
    {% endmacro %}


    {% set thread = h.get_comment_thread(pkg_name) %}


    {% macro comment_table(thread) %}
    <table class="table table-bordered table-condensed" data-module="">

        <!--data-module="table-toggle-more"-->


        <tbody>
        {% for comment in thread.comments %}
        {% if comment.state != 'deleted' %}


        <tr class="comment-subject">
            <th scope="row">{{ comment.subject }}</th>
            <td class="comment-date">Created {{ h.render_datetime(comment.creation_date, "%m.%d.%Y %H:%M") }}
            </td>
        </tr>
        <tr class="comment-content">
            <td scope="row" colspan="2">{{ comment.content|safe }}</td>
        </tr>
        <tr class="comment-foot">
            <td colspan="2">{% if comment.state == 'active' %}
                {% if comment.modified_date %}
                <span class="comment-date">{{ _('Last edited: ') }}{{ h.render_datetime(comment.modified_date,
                            "%m.%d.%Y at %H:%M") }}
                        </span>
                {% endif %}


                <ul class="links list-inline pull-right">

                    {% if c.userobj.sysadmin %}
                    <li><a href="#{{comment.id}}reply_myModal" class="btn btn-small btn-default" data-toggle="modal">{{
                        _('Reply')
                        }}</a></li>
                    {{ comment_form(comment, empty=True, prefix='reply_', action='reply') }}
                    <li><a href="#{{comment.id}}edit_myModal" class="btn btn-small btn-default" data-toggle="modal">{{
                        _('Edit')
                        }}</a></li>
                    {{ comment_form(comment, prefix='edit_', action='edit') }}
                    <li><a class="btn btn-small btn-danger"
                           href="/dataset/{{ pkg_id }}/comments/{{ comment.id }}/delete"><i class="fa fa-trash"></i></a>
                    </li>
                    {% endif %}


                </ul>
                {% endif %}
            </td>
        </tr>


        {% for comment in comment.comments %}
        {% if comment.state != 'deleted' %}


        <tr class="comment-subject">
            <th scope="row">{{ comment.subject }}</th>
            <td class="comment-date">Created {{ h.render_datetime(comment.creation_date, "%m.%d.%Y %H:%M") }}
            </td>
        </tr>
        <tr class="comment-content">
            <td scope="row" colspan="2">{{ comment.content|safe }}</td>
        </tr>
        <tr class="comment-foot">
            <td colspan="2">{% if comment.state == 'active' %}
                {% if comment.modified_date %}
                <span class="comment-date">{{ _('Last edited: ') }}{{ h.render_datetime(comment.modified_date,
                            "%m.%d.%Y at %H:%M") }}
                        </span>
                {% endif %}


                <ul class="links list-inline pull-right">

                    {% if c.userobj.sysadmin %}
                    <li><a href="#{{comment.id}}reply_myModal" class="btn btn-small btn-default" data-toggle="modal">{{
                        _('Reply')
                        }}</a></li>
                    {{ comment_form(comment, empty=True, prefix='reply_', action='reply') }}
                    {% endif %}
                    {% if userobj and comment.user_id == userobj.id or c.userobj.sysadmin %}
                    <li><a href="#{{comment.id}}edit_myModal" class="btn btn-small btn-default" data-toggle="modal">{{
                        _('Edit')
                        }}</a></li>
                    {{ comment_form(comment, prefix='edit_', action='edit') }}
                    <li><a class="btn btn-small btn-danger"
                           href="/dataset/{{ pkg_id }}/comments/{{ comment.id }}/delete"><i class="fa fa-trash"></i></a>
                    </li>
                    {% endif %}


                </ul>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}


        {% endif %}
        {% endfor %}

        </tbody>
    </table>
    {% endmacro %}


    <div class="row-fluid">
        <div class="chev-row" data-toggle="collapse" data-target="#comment-collapse">
            <h3 id="comments">{{ _('Comments') }} [{{thread.comments|length}} <i class="fa fa-chevron-down"></i>]
                <button data-toggle="collapse" data-target="#form-collapse" class="btn btn-default">Post Comment
                </button>
            </h3>

        </div>
    </div>

    <div class="row-fluid">
        <div id="form-collapse" class="collapse">
            <form class="form form-comment" action="{{ pkg_id }}/comments/add" method="POST">
                <div class="form-controls">
                    <input type="text" placeholder="Subject..." class="form-subject" name="subject"/>

                    <textarea name="comment" placeholder="Your comment..." class="form-control" rows="6"></textarea>
                </div>
                <div class="pull-right" style="margin-bottom: 16px;">
                    <input type="reset" class="btn btn-small" value="{{ _('Clear') }}"/>
                    <input type="submit" class="btn btn-small btn-default" value="{{ _('Post Comment') }}"/>
                    <br>
                </div>
                <div id="g-recaptcha" class="g-recaptcha" data-sitekey="{{ g.captcha_secret }}x"
                     style="margin-bottom:12px;"></div>
                <script src='https://www.google.com/recaptcha/api.js'></script>


            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div id="comment-collapse" class="comment-container collapse">
            {% if thread.comments | length != 0 %}
            {{ comment_table(thread) }}
            {% else %}
            <div class="no-comment row-fluid">
                <div class="chev-row" data-toggle="collapse" data-target="#form-collapse">
                    <div class="span4 col-md-4">
                        <p class="no-comments">Be the first to comment
                        </p>
                    </div>
                    <div class="span3 col-md-3">
                        <h4 class="chev-btn"><i class="chev-icon fa fa-chevron-down fa-2x"></i></h4>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


</section>


